################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CafeEmployeeManager.API/.vs/CafeEmployeeManager.API/FileContentIndex
