.tableStyle {
  height: 400;
  width: 100%;
  margin-top: 20px;
}

.addCafeButton,
.filterBy {
  margin-top: 20px;
}

.tableContainer {
  margin: 20px;
}

.buttonContainer {
  display: flex;
  gap: 5px 10px;
}

.cafeImage {
  padding: 5px;
}
